<%= simple_form_for(@note) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :begin, :input_html => { :value => DateTime.now.strftime("%d/%m/%Y - %H:%M %p")}, :as => :datetime %>
    <%= f.input :end, :input_html => { :value => DateTime.now.strftime("%d/%m/%Y - %H:%M %p")}, :as => :datetime %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn-primary"  %>
  </div>
<% end %>
