<p id="notice"><%= notice %></p>

<h1>Notas</h1>
<%= link_to '<button type="button" class="btn btn-primary">Nueva nota</button>'.html_safe, new_note_path %>
<% if @current!=nil%>
    <div class="card">
      <div class="card-header">
        En curso
      </div>
      <div class="card-body">
        <h5 class="card-title"><%= @current.title %></h5>
        <p class="card-text"><%= @current.description %> </p>
        <%= link_to '<button type="button" class="btn btn-dark">Ver</button>'.html_safe, @current %>
        <p>Termina en: <%= time_ago_in_words(@current.end) %></p>
      </div>
    </div>
<% end %>
<div class="row">
  <% @notes.each do |note| %>
    <div class="card card-index" style="background-color: <%= note.backgroundcolor %>">
    <div class="card-body w-100">
      <h5 class="card-title"><%= note.title %></h5>
      <p class="card-text"><%= note.description %> </p>
      <%= link_to '<button type="button" class="btn btn-dark">Ver</button>'.html_safe, note %>
      <p>Falta: <%= time_ago_in_words(note.begin) %></p>
    </div>
    </div>
  <% end %>
</div>

<br>

<%= link_to 'New Note', new_note_path, :class => "btn btn-primary" %>