<p id="notice"><%= notice %></p>

<h1><%= t(:notes)%></h1>
<%= button_to t(:new_note), new_note_path, :class => "btn btn-primary", :method => :get %>
<button class="btn btn-info" id="toogle">
  Mostrar filtros
</button>
<%= form_tag notes_path, method: 'get' do%>
  <div id="filters" style="display: none;">
  <div class="row">
    <div class="col-md-2">
      <%=label_tag 'title', 'Título' %>
      <%=text_field_tag("title", value = nil, options = {class: "form-control input-height"}) %>
    </div>
    <div class="col-md-2">
      <%=label_tag "Descripción "%>
      <%=text_field_tag("description", value = nil, options = {class: "form-control input-height"}) %>
    </div>
    <div class="col-md-2">
      <%=label_tag "Fecha de creación"%>
      Inicio: <%=date_field_tag("created_min", value = nil, options = {class: "form-control input-height"}) %>
      Fin: <%=date_field_tag("created_max", value = nil, options = {class: "form-control input-height"}) %>
    </div>
    <div class="col-md-2">
      <%=label_tag "Fecha de recordatorio"%>
      Inicio: <%=date_field_tag("begin_min", value = nil, options = {class: "form-control input-height"}) %>
      Fin: <%=date_field_tag("begin_max", value = nil, options = {class: "form-control input-height"}) %>
    </div>
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-md-12">
      <div class=" botones">
        <%=button_tag(type: "submit",class: "btn btn-info") do%>
          <%= fa_icon 'filter', text:'Filtrar'%>
        <%end%>
        <%= link_to notes_path,class: "btn btn-light" do%>
          <%= fa_icon 'trash-o', text: 'Limpiar' %>
        <%end%>
      </div>
    </div>
  </div>
  </div>
<%end%>
<br>
<% if @current!=nil%>
    <div class="card" style="background-color: #ffff7f;">
      <div class="card-header">
        <h3>En curso</h3>
      </div>
      <div class="card-body">
        <h5 class="card-title"><%= @current.title %></h5>
        <p class="card-text"><%= @current.description %> </p>
        <%= button_to t(:show), note, :class => "btn btn-dark", :method => :get %>
        <p>Termina en: <%= time_ago_in_words(@current.end) %></p>
      </div>
    </div>
<% end %>
<div class="row">
  <% @notes.each do |note| %>
    <div class="card card-index" style="background-color: <%= note.backgroundcolor %>">
    <div class="card-body w-100">
      <h5 class="card-title"><%= note.title %></h5>
      <p class="card-text"><%= note.description %> </p>
      <%= button_to t(:show), note, :class => "btn btn-dark", :method => :get %>
      <% if  note.backgroundcolor != "darkgray"%>
        <p>Falta: <%= time_ago_in_words(note.begin) %></p>
      <% else %>
        <p><%= t(:finished) %></p>
      <% end %>
    </div>
    </div>
  <% end %>
</div>
<br><br>


<script>
    $("#toogle").click(function() {

        var lable = $("#toogle").text().trim();

        if(lable == "Mostrar filtros") {
            $("#toogle").text("Ocultar filtros");
            $("#filters").show();
        }
        else {
            $("#toogle").text("Mostrar filtros");
            $("#filters").hide();
        }

    });
</script>