<p id="notice"><%= notice %></p>

<h1><%= t(:notes)%></h1>
<button class="btn btn-info" id="toogle" style="float: right;">
  <%= t(:filters)%>
</button>
<%= button_to t(:new_note), new_note_path, :class => "btn btn-primary", :method => :get %>
<%= form_tag notes_path, method: 'get' do%>
  <div id="filters" style="display: none;">
  <div class="row">
    <div class="col-md-2">
      <%=label_tag t(:title) %>
      <%=text_field_tag("title", value = nil, options = {class: "form-control input-height"}) %>
    </div>
    <div class="col-md-2">
      <%=label_tag t(:description)%>
      <%=text_field_tag("description", value = nil, options = {class: "form-control input-height"}) %>
    </div>
    <div class="col-md-3">
      <%=label_tag t(:creation_date)%><br>
      <%=t(:begin)%>: <%=date_field_tag("created_min", value = nil, options = {class: "form-control input-height"}) %>
      <%=t(:end)%>: <%=date_field_tag("created_max", value = nil, options = {class: "form-control input-height"}) %>
    </div>
    <div class="col-md-3">
      <%=label_tag t(:remeber_date)%><br>
      <%=t(:begin)%>: <%=date_field_tag("begin_min", value = nil, options = {class: "form-control input-height"}) %>
      <%=t(:end)%>: <%=date_field_tag("begin_max", value = nil, options = {class: "form-control input-height"}) %>
    </div>
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-md-12">
      <div class=" botones">
        <%=button_tag(type: "submit",class: "btn btn-info") do%>
          <%= fa_icon 'filter', text:t(:filter)%>
        <%end%>
        <%= link_to notes_path,class: "btn btn-light" do%>
          <%= fa_icon 'trash-o', text:t(:clean) %>
        <%end%>
      </div>
    </div>
  </div>
  </div>
<%end%>
<br>
<% if @current!=nil%>
    <div class="card" style="background-color: <%= @current.backgroundcolor %>">
      <div class="card-header">
        <h3>En curso</h3>
      </div>
      <div class="card-body">
        <h5 class="card-title"><%= @current.title %></h5>
        <p class="card-text"><%= @current.description %> </p>
        <%= button_to t(:show), @current, :class => "btn btn-dark", :method => :get %>
        <p><%= t(:finish_in) %>  <%= time_ago_in_words(@current.end) %></p>
      </div>
    </div>
<% end %>
<div class="row">
  <% @notes.each do |note| %>
    <div class="card card-index" style="background-color: <%= note.backgroundcolor %>">
    <div class="card-body w-100">
      <h5 class="card-title"><%= note.title %></h5>
      <p class="card-text"><%= note.description %> </p>
      <%= button_to t(:show), note, :class => "btn btn-dark", :method => :get %>
      <% if  note.backgroundcolor != "darkgray"%>
        <% if note.current %>
          <p><%= t(:finish_in) %>  <%= time_ago_in_words(note.end) %></p>
        <% else %>
          <p><%= t(:begins_at) %>  <%= time_ago_in_words(note.begin) %></p>
        <% end %>
      <% else %>
        <p><%= t(:finished) %></p>
      <% end %>
    </div>
    </div>
  <% end %>


<script>
    $("#toogle").click(function() {

        if($('#filters').is(':hidden')) {
            $("#filters").show();
        }
        else {
            $("#filters").hide();
        }

    });
</script>