<div class="container py-5">
  <div class="col-md-6 mx-auto">
    <h2><%= t(:note_detail) %></h2><br>
<p id="notice"><%= notice %></p>

<p>
  <strong><%= t(:title) %>:</strong>
  <%= @note.title %>
</p>

<p>
  <strong><%= t(:description) %>:</strong>
  <%= @note.description %>
</p>

<p>
  <strong><%= t(:begin) %>:</strong>
  <%= @note.begin.to_time %>
</p>

<p>
  <strong><%= t(:end) %>:</strong>
  <%= @note.end.to_time %>
</p>
<% if @note.finished %>
      <% if @note.current %>
        <p><strong><%= t(:finish_in) %>:</strong>
          <%= time_ago_in_words(@note.end) %>
        </p>
      <% else %>
        <p>
          <strong><%= t(:finished_at) %>:</strong>
          <%= time_ago_in_words(@note.end) %>
        </p>
      <% end %>
<% else %>
      <p>
        <strong><%= t(:begins_at) %>:</strong>
        <%= time_ago_in_words(@note.begin) %>
      </p>
<% end %>

<%= link_to t(:edit), edit_note_path(@note) %> |
<%= link_to t(:delete), @note, method: :delete, data: { confirm: t(:are_u_sure) } %> |
<%= link_to t(:back), notes_path %>
</div>
</div>

